.book-summary ul.summary li a {
     white-space: initial;
     line-height: 20px;
}

.book-summary ul.summary li.active a,
.book-summary ul.summary li a:hover,
.book-summary ul.summary li a:active,
.book-summary ul.summary li a:focus {
     background-color: #4F5B93;
     color: #fff;
     text-decoration: none;
}